<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:rim="http://www.blackberry.com/ns/widgets"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-geocoder"
      version="0.2.1">

    <name>Geocoder</name>
    <description>Cordova Geocoder Plugin</description>
    <keywords>cordova,geolocation,geocoder</keywords>
    <repo>git@github.com:doppelganger9/cordova-plugin-geocoder.git</repo>

    <js-module src="www/geocoder.js" name="geocoder">
        <clobbers target="navigator.geocoder" />
    </js-module>
    
    <!-- android -->
    <platform name="android">

        <config-file target="config.xml" parent="/*">
            <feature name="Geocoder">
                <param name="android-package" value="org.apache.cordova.geocoder.GCPGeocoder" />
            </feature>
        </config-file>
        
        <source-file src="src/android/GCPGeocoder.java" target-dir="src/org/apache/cordova/geocoder" />
                 
    </platform>

    
    <!-- ios -->
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
	        <feature name="Geocoder">
	            <param name="ios-package" value="GCPGeocoder"/>
	        </feature>
        </config-file>

        <header-file src="src/ios/GCPGeocoder.h" />
        <source-file src="src/ios/GCPGeocoder.m" />

        <framework src="CoreLocation.framework" />
        <framework src="MapKit.framework" />

    </platform>



</plugin>
