<?xml version="1.0" encoding="UTF-8"?>
<!--
  Apache Cordova Geocoder Plugin / Plugin definition file.
 
  Copyright (C) 2017 David LACOURT
 
  This software may be modified and distributed under the terms
  of the MIT license.  See the LICENSE file for details.
-->
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="cordova-plugin-geocoder"
      version="1.2.2-dev">

    <name>Geocoder</name>
    <license>MIT</license>
    <description>Cordova Geocoder Plugin</description>
    <keywords>cordova,geolocation,geocoder</keywords>
    <repo>https://github.com/doppelganger9/cordova-plugin-geocoder</repo>
    <issue>https://github.com/doppelganger9/cordova-plugin-geocoder/issues</issue>

    <engines>
      <engine name="cordova-android" version=">=5.1.0" />
      <engine name="cordova-ios" version=">=4.0.0" />
    </engines>


    <js-module src="www/geocoder.js" name="geocoder">
        <clobbers target="navigator.geocoder" />
    </js-module>
    
    <!-- android -->
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="Geocoder">
                <param name="android-package" value="org.apache.cordova.geocoder.GCPGeocoder" />
            </feature>
        </config-file>
        
        <source-file src="src/android/GCPGeocoder.java" target-dir="src/org/apache/cordova/geocoder" />
    </platform>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
	        <feature name="Geocoder">
	            <param name="ios-package" value="GCPGeocoder"/>
	        </feature>
        </config-file>

        <header-file src="src/ios/GCPGeocoder.h" />
        <source-file src="src/ios/GCPGeocoder.m" />

        <framework src="CoreLocation.framework" />
        <framework src="MapKit.framework" />
    </platform>

</plugin>
